.c-footer {
	background-color: var(--body-color);
	padding-top: 74px;
	padding-bottom: 45px;
	color: var(--gray-100);

	@include media-breakpoint-down(lg) {
		padding-top: 50px;
		padding-bottom: 16px;
	}

	@media (max-width: 900px) {
		font-size: 18px;
		padding-top: 52px;
		padding-bottom: 36px;
	}

	&__partn-logo {
		margin-right: 23px;

		@include media-breakpoint-down(sm) {
			margin-right: auto;
		}
	}

	&.is-fw {

		.c-footer__row-1-right,
		.c-footer__row-2-links {
			@include media-breakpoint-up(lg) {
				max-width: 315px;
				margin-left: auto;
			}
		}
	}

	.container {
		position: relative;
	}

	&__row {
		&-1 {
			align-items: flex-start;

			@include media-breakpoint-up(sm) {
				min-height: 130px;
			}

			@include media-breakpoint-down(sm) {
				margin-bottom: 40px;
			}

			&-right {
				display: flex;

				@include media-breakpoint-down(lg) {
					justify-content: flex-end;
				}

				@include media-breakpoint-down(sm) {
					justify-content: center;
				}

				&.for-desktop {
					@media (max-width: 900px) {
						display: none;
					}
				}

				&.for-mobile {
					display: none;

					@media (max-width: 900px) {
						display: flex;
						justify-content: center;
						order: 2;
						margin-top: 68px;
					}
				}
			}
		}

		&-2 {
			@include media-breakpoint-down(lg) {
				&>div:last-child {}
			}

			@include media-breakpoint-down(sm) {
				&>div:last-child {}
			}

			@include media-breakpoint-down(sm) {
				justify-content: center;
				--bs-gutter-y: 0.625rem;
			}

			&-data {
				@media (max-width: 900px) {
					order: 1;

					.c-footer__data {
						max-width: 320px;
					}
				}
			}

			&-links {
				margin-top: -45px;

				@media (max-width: 900px) {
					order: 2;
					text-align: center !important;
					margin-top: 40px;
					width: 100%;
				}

				@include media-breakpoint-down(sm) {
					margin-top: 21px;
					text-align: left !important;

					p {
						&:not(:last-child) {
							margin-bottom: 22px;
						}
					}
				}

			}
		}
	}

	&__logotypes {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		margin-bottom: 20px;

		@include media-breakpoint-down(sm) {
			margin-bottom: 0;
		}

		img {
			height: auto;
			object-fit: contain;
		}
	}

	&__logotype {
		display: inline-flex;

		@include media-breakpoint-down(sm) {
			margin-bottom: 17px;
		}
	}

	.c-social {
		justify-content: flex-end;

		@include media-breakpoint-down(lg) {}

		@include media-breakpoint-down(sm) {
			justify-content: center;
		}
	}

	&__data {
		position: absolute;
		top: 0;

		@media (max-width: 900px) {
			position: initial;
		}

		&-item {
			&:not(:last-child) {
				margin-bottom: 22px;
			}

			span {
				display: inline-block;
				min-width: 82px;

				@media (max-width: 900px) {
					min-width: 60px;
				}
			}

			&--left {
				@media (max-width: 900px) {
					justify-content: flex-start;
					text-align: left;

					p {}
				}
			}
		}
	}

	&__copyright {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		@media (max-width: 900px) {
			order: 3;
			text-align: center;
			margin-top: 40px;
			width: 100%;
		}

		@include media-breakpoint-down(sm) {
			text-align: left;
		}

		.for-moble {
			display: none;

			@include media-breakpoint-down(sm) {
				display: block;
			}
		}
	}

	&__sep2 {
		display: none;

		@include media-breakpoint-down(sm) {
			display: block;
			width: 100%;
			max-width: 158px;
			margin-left: auto;
			margin-right: auto;
			height: 1px;
			background-color: #F0F6F7;

			margin-top: -2px;
			margin-bottom: 48px;

		}
	}

	&__sep3 {
		display: none;

		@include media-breakpoint-down(sm) {
			display: block;
			width: 100%;
			max-width: 158px;
			margin-left: auto;
			margin-right: auto;
			height: 1px;
			background-color: #F0F6F7;

			margin-top: 46px;
			margin-bottom: 20px;
		}
	}
}