.f-body {
	&-b2 {
		font-size: 14px;
		line-height: 1.14em;
		letter-spacing: -0.02em;
	}

	&-lcl {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
		display: block;
		width: 100%;
	}

	&-note {
		display: inline-flex;
		align-items: center;
		gap: 10px;
		font-size: 14px;
		line-height: 1.14em;
		letter-spacing: -0.02em;
	}
}

.f-heading {
	&-2 {
		font-family: var(--font-family-second);
		font-size: 20px;
		font-weight: 600;
		line-height: 1.2em;
	}

	&-3 {
		font-family: var(--font-family-second);
		font-size: 18px;
		font-weight: 600;
		line-height: 1.22em;
	}

	&-4 {
		font-family: var(--font-family-second);
		font-weight: 600;
		font-size: 16px;
		line-height: 1.25em;
		letter-spacing: initial;
	}
}

.f-badge {
	display: inline-block;
	border-radius: 2px;
	font-size: 12px;
	line-height: 1.16em;
	letter-spacing: -0.01em;
	font-weight: 400;
	padding: 5px 6px 3px;

	&--green {
		background-color: #E5F6E6;
		color: #00A908
	}

	&--gray {
		background-color: var(--gray-250);
		color: var(--gray-500);
	}

	&--red {
		background-color: var(--magenta-02);
		color: #FB4F93;
	}
}

.f-link {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	font-size: 18px;

	&-line {
		position: relative;
		display: inline-block;
		user-select: none;
		font-size: 18px;
		line-height: 1.25em;

		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: .063em;
			max-height: .0625rem;
			bottom: 0;
			top: auto;
			left: 0;
			background-color: var(--body-color);
			transition: transform .3s ease-in-out;
			will-change: transform;
			backface-visibility: hidden;

			transform: scaleX(1);
			transform-origin: left;
		}

		@media (any-hover: hover) {
			&:hover {
				&::after {
					transform-origin: right;
					transform: scaleX(0);
				}
			}
		}
	}
}