.ui-dropdown {
	position: relative;
	display: inline-flex;
	align-items: center;
	user-select: none;

	&.is-active {
		.ui-dropdown__btn-icon {
			transform: rotate(180deg);
		}

		.ui-dropdown__body {
			display: block;
		}
	}

	&.for-hover {
		@media (any-hover: hover) {
			&:hover {
				.ui-dropdown__btn-icon {
					transform: rotate(180deg);
				}

				.ui-dropdown__body {
					display: block;
				}
			}
		}
	}

	&.has-value {
		.ui-dropdown__input-search {
			border-bottom-color: var(--body-color);
		}
	}

	&--auto-width {
		.ui-dropdown__body {
			width: auto;
			min-width: initial;
			white-space: nowrap;
		}
	}

	&--search {
		.ui-dropdown__box {
			margin-top: 0;
			margin-bottom: 0;
		}

		.ui-dropdown__body {
			min-width: 100%;
			width: 100%;
			margin-top: 8px;
		}
	}

	&__label {
		font-weight: 700;
	}

	&__box {
		position: relative;
		display: flex;
		align-items: center;
		margin-top: -8px;
		margin-bottom: -8px;
	}

	&__btn {
		height: auto;
		display: inline-flex;
		align-items: center;
		background-color: transparent;
		gap: 8px;
		transition: var(--tr);
		padding-bottom: 8px;
		padding-top: 8px;


		@media (any-hover: hover) {
			&:hover {}
		}

		&-value {
			font-size: 14px;
			letter-spacing: -0.02em;
		}

		&-icon {
			flex-shrink: 0;
			width: 16px;
			height: 16px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			transition: transform var(--tr);

			&.is-static {
				transform: none !important;
			}
		}
	}

	&__input {
		position: relative;

		.ui-icon {
			position: absolute;
			left: 2;
			top: 50%;
			transform: translateY(-50%);
			fill: var(--gray-400);
			z-index: -1;
		}

		&-search {
			position: relative;
			z-index: 1;
			background-color: transparent;
			width: 100%;
			height: 40px;
			border-bottom: 1px solid var(--gray-400);
			padding-left: 24px;

			&::placeholder {
				color: var(--gray-400);
			}

			.ui-dropdown.is-focus & {
				border-bottom-color: var(--body-color);
			}
		}
	}

	&__body {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 2;
		width: 100%;
		min-width: 240px;
		padding-top: 6px;
		padding-bottom: 6px;

		background-color: var(--white);
		box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
		border: 1px solid var(--gray-250);


		&.is-show {
			display: block;

			.ui-dropdown.is-focus & {
				display: block;
			}
		}
	}

	&__list {
		li {}
	}

	&__item {
		padding: 16px;
		display: flex;
		align-items: center;

		transition: color var(--tr), background-color var(--tr);
		cursor: pointer;
		user-select: none;

		&:not(:last-child) {
			margin-bottom: 8px;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--gray-200);
			}
		}

		&-icon {
			width: 16px;
			height: 16px;
			margin-right: 16px;
			flex-shrink: 0;

			svg {
				fill: var(--gray-500);

				&.is-black {
					fill: var(--body-color);
				}
			}
		}

		&-name {}
	}
}