.ui-range {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 24px;
	margin-bottom: 32px;

	&__label {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: calc(50% - 17px);

		&-separator {
			width: 34px;
			display: inline-flex;
			align-items: flex-end;
			justify-content: center;
			padding-bottom: 12px;
			line-height: 1em;

		}
	}

	.ui-input {
		width: 100%;
	}

	&__input {
		text-align: left;
		padding-left: 0px;
		text-transform: uppercase;
	}

	&__slider-price {
		width: 100%;
		margin-bottom: 28px;
	}

	&__prefix {
		user-select: none;
		font-size: 12px;
		letter-spacing: -0.01em;
		color: var(--gray-600);
	}
}

.noUi-target {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	touch-action: none;
	user-select: none;
}

.noUi-target {
	position: relative;

	&.is-set {
		.noUi-connect {
			background: var(--gray-600);
		}

		.noUi-handle:after {
			// border: 1px solid var(--black);
			background-color: var(--white);
		}
	}
}

.noUi-base,
.noUi-connects {
	width: 100%;
	height: 10px;
	position: relative;
	z-index: 1;
}

/* Wrapper for all connect elements.
 */
.noUi-connects {
	overflow: hidden;
	z-index: 0;
}

.noUi-connect,
.noUi-origin {
	will-change: transform;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	height: 4px;
	width: 100%;
	-ms-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-webkit-transform-style: preserve-3d;
	transform-origin: 0 0;
	transform-style: flat;
}

/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
	left: 0;
	right: auto;
}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
	top: -100%;
	width: 0;
}

.noUi-horizontal .noUi-origin {
	height: 0;
}

.noUi-handle {
	backface-visibility: hidden;
	position: absolute;
}

.noUi-touch-area {
	height: 100%;
	width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
	transition: transform 0.3s;
}

.noUi-state-drag * {
	cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
	height: 4px;

	.noUi-handle {
		width: 18px;
		height: 28px;
		right: 0px;
		top: -14px;
		cursor: pointer;

		&.noUi-handle-lower {
			right: -4px;

			&::after {
				margin-left: 0;
			}
		}

		&.noUi-handle-upper {
			right: -5px;
		}
	}
}

.noUi-vertical {
	width: 10px;
}

.noUi-vertical .noUi-handle {
	width: 28px;
	height: 34px;
	right: -1px;
	bottom: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
	left: -17px;
	right: auto;
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
	background: var(--gray-300);
	padding: 0px;
	border-radius: 0px;
	// &::before{
	// 	content: "";
	// 	height: 1px;
	// 	display: block;
	// 	width: 100%;
	// 	background: #BDBDBD;
	// }
}

.noUi-connects {}

.noUi-connect {
	background-color: var(--black);
}

/* Handles and cursors;
 */
.noUi-draggable {
	cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
	cursor: ns-resize;
}

.noUi-handle {
	background: transparent;
	cursor: default;
}

.noUi-active {
	border-color: var(--black);
}

/* Handle stripes;
 */
.noUi-handle {

	&:before,
	&:after {}

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -14px;
		margin-left: -10px;
		width: 28px;
		height: 28px;
		border-radius: 50%;
		border: none;
		background-color: var(--white);
		border: 1px solid var(--gray-300);
		box-shadow: 0 0 4px -2px rgba(1, 1, 1, 0.05), 0 0 4px 0 rgba(1, 1, 1, 0.05);
	}
}

.noUi-vertical {
	.noUi-handle {

		&:before,
		&:after {}

		&:after {}
	}
}

/* Disabled state;
 */
[disabled] {
	.noUi-connect {
		background: #b8b8b8;
	}

	&.noUi-target,
	&.noUi-handle,
	& .noUi-handle {
		cursor: not-allowed;
	}

}


/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
	box-sizing: border-box;
}

.noUi-pips {
	position: absolute;
	color: #999;
}

/* Values;
 *
 */
.noUi-value {
	position: absolute;
	white-space: nowrap;
	text-align: center;
}

.noUi-value-sub {
	color: #ccc;
	font-size: 10px;
}

/* Markings;
 *
 */
.noUi-marker {
	position: absolute;
	background: #ccc;
}

.noUi-marker-sub {
	background: #aaa;
}

.noUi-marker-large {
	background: #aaa;
}

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
	padding: 10px 0;
	height: 80px;
	top: 100%;
	left: 0;
	width: 100%;
}

.noUi-value-horizontal {
	transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
	transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
	margin-left: -1px;
	width: 2px;
	height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
	height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
	height: 15px;
}

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
	padding: 0 10px;
	height: 100%;
	top: 0;
	left: 100%;
}

.noUi-value-vertical {
	transform: translate(0, -50%);
	padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
	transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
	width: 5px;
	height: 2px;
	margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
	width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
	width: 15px;
}

.noUi-tooltip {
	display: block;
	position: absolute;
	border: 1px solid #807D86;
	border-radius: 3px;
	background: #fff;
	color: #000;
	padding: 5px;
	text-align: center;
	white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
	transform: translate(-50%, 0);
	left: 50%;
	bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
	transform: translate(0, -50%);
	top: 50%;
	right: 120%;
}

.noUi-horizontal .noUi-origin>.noUi-tooltip {
	transform: translate(50%, 0);
	left: auto;
	bottom: 10px;
}

.noUi-vertical .noUi-origin>.noUi-tooltip {
	transform: translate(0, -10px);
	top: auto;
	right: 28px;
}